.container-category-page{
    padding: 25px 0px;
    background-color: yellow;
    min-height:90vh;
    span{
        font-size: 20px;
        font-weight: 600;
        margin-right: 20px;
    }
    select{
        padding: 10px;
        margin-right: 20px;
    }
    h3{
        padding-left: 25px;
    }
    .Filter-box{
        display: flex;
        justify-content: space-between;
        padding: 25px;
    }
}