.Category-Container{
    flex: 1;
    height: 70vh;
    background-color: black;
    position: relative;
    .overay{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height:100%;
        button{
            padding: 10px;
            background-color: transparent;
            color:gray;
            font-weight: 600;
            cursor: pointer;
        }
        h1{
            color:white;
            margin-bottom: 20px;
        }
    }
    img{
        width: 100%;
        height: inherit;
        object-fit: cover;
    }
}