.Sign-in-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background: #9dbdd2;
  background: linear-gradient(90deg, #9dbdd2 0%, #378137 80%);
  background: -webkit-linear-gradient(90deg, #9dbdd2 0%, #378137 80%);
  background: -moz-linear-gradient(90deg, #9dbdd2 0%, #378137 80%);
  .Wrapper {
    width: 40%;
    padding: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    form {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 5px;
      margin-top: 20px;
      input {
        flex: 1;
        min-width: 40%;
        margin: 20px 10px 0px 0px;
        padding: 10px;
      }
    }
    h3 {
      font-size: 25px;
      font-weight: 300;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    button {
      border-radius: 5px;
      padding: 10px 5px;
      margin-top: 20px;
      background-color: transparent;
    }
  }
}
