.Login-Container {
  width: 100vw;
  height: 100vh;
  background: #9dbdd2;
  background: linear-gradient(90deg, #9dbdd2 0%, #378137 80%);
  background: -webkit-linear-gradient(90deg, #9dbdd2 0%, #378137 80%);
  background: -moz-linear-gradient(90deg, #9dbdd2 0%, #378137 80%);
  display: flex;
  justify-content: center;
  align-items: center;
  .Wapper {
    width: 29vw;
    min-height: 60vh;
    border-radius: 10px;
    background-color: rgb(238, 225, 225);
    text-align: center;
    padding: 30px;
    .title h3 {
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: rgb(119, 116, 131);
      font-weight: 500;
      padding-bottom: 25px;
    }
    .Form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      input {
        width: 80%;
        margin: auto;
        border: none;
        outline: none;
        border-radius: 4px;
        border: 1px solid grey;
        background: transparent;
        padding: 5px;
      }
      .button {
        display: flex;
        align-items: center;
        button {
          width: 8vw;
          padding: 10px 10px;
          margin-bottom: 25px;
          margin: auto;
          background: transparent;
          border-radius: 4px;
        }
      }
      #fpassword {
        &:hover {
          cursor: not-allowed;
        }
      }
      a {
        text-decoration: none;
        color: grey;
        margin-bottom: 10px;
        &:hover {
          color: rgb(139, 139, 244);
        }
      }
    }
  }
}

@media screen and (max-width: "480px") {
  .Login-Container {
    .Wapper {
      width: 80vw;
      height: 75vh;
      .Form {
        .button {
          button {
            width: 50%;
          }
        }
        a {
          margin-bottom: 0px;
        }
      }
    }
  }
}
