.Carousel-Container{
    position: relative;
    height: 95vh;
    width: 100%;
    display: flex;
    overflow: hidden;
    .Arrow-Container{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(219, 228, 218, 0.61);
        height: fit-content;
        width: fit-content;
        border-radius: 50%;
        padding: 15px;
        color: rgb(17, 17, 17);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 2;
    }
    .left{
        left: 20px;
    }
    .right{
        right: 20px;
    }
    .wrapper{
        display: flex;
        background-color: rgb(239, 228, 228);
        height: 85%;
        transition: all 1s ease;
        .Sider-Container{
            width: 98.8vw;
            display: flex;
            height: 100%;
            overflow: hidden;
            .Img-container{
                flex: 1;
                img{
                    width:90%;
                }
            }
            .Description{
                flex: 1;
                .des-wrapper{
                    margin: 120px 50px;
                    h1{
                        font-size: 50px;
                    }
                    p{
                        margin: 50px 0px;
                        font-size: 20px;
                        font-weight: 500;
                    }
                    button{
                        padding: 10px;
                        font-size: 20px;
                        background-color: transparent;
                        cursor: pointer;
                    }
                }
            }
        }
    }

}
@media screen and (max-width:"480px") {
    .Carousel-Container{
        .wrapper{
            .Img-container{
                width:100vw !important;
                img{
                    width:900px;
                    height: 100%;
                    object-fit: contain;
                    
                }
            }
            .Sider-Container{
                .Description{
                    flex: 0;
                    .des-wrapper{

                       display: none;
                        background-color: black;
                        color: aqua;
                    }
                }
            }
        } 
    } 
}